#footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

#footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

#footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

#footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

#footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  #footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

#footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  #footer-dark .item.text {
    margin-bottom: 0;
  }
}

#footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

#footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  #footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

#footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

#footer-dark .item.social > a:hover {
  opacity: 0.9;
}

#footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.main{
  margin-top: 15%;
}

.st0{fill:#fff}
.st2{fill:#5d89af}
.st3{fill:#709abf}
.st4,.st6{
  fill:#fff;
  stroke:#b3dcdf;
  stroke-miterlimit:10
}
.st6{
  stroke:#5d89af;
  stroke-width:2
}
.st7,.st8,.st9{
  stroke:#709abf;
  stroke-miterlimit:10
}

.st7{
  stroke-width:5;
  stroke-linecap:round;
  fill:none
}
.st8,.st9{
  fill:#fff
}
.st9{
  fill:none
}
.st10{

}

#cloud1{
  animation: cloud003 15s linear infinite;
}

#cloud2{
  animation: cloud002 25s linear infinite;
}

#cloud3{
  animation: cloud003 20s linear infinite;
}

#cloud4{
  animation: float 4s linear infinite;
}

#cloud5{
  animation: float 8s linear infinite;
}

#cloud7{
  animation: float 5s linear infinite;
}

#tracks{
  animation: slide 650ms linear infinite;
}

#bumps{
  animation: land 10000ms linear infinite;
}

@keyframes jig {
  0% { transform: translateY(0px); }
  50% { transform: translateY(1px); }
  100% { transform: translateY(0px); }
}

#car-layers{
  animation: jig 0.35s linear infinite;
}

@keyframes land {
  from { transform: translateX(0); }
  to { transform: translateX(1000px); }
}


@keyframes slide {
  from { transform: translateX(0px); }
  to { transform: translateX(100px); }
}

/* @keyframes cloudFloat {
  0% { transform: translateX(0) translateY(3px); }
  100% { transform: translateX(1000px) translateY(0); }
} */

@keyframes cloud001 {
  0% { transform: translateX(-1000px) translateY(3px); }
  100% { transform: translateX(1000px) translateY(0); }
}

@keyframes cloud002 {
  0% { transform: translateX(-1000px) translateY(3px); }
  100% { transform: translateX(1000px) translateY(0); }
}

@keyframes cloud003 {
  0% { transform: translateX(-1000px) translateY(3px); }
  100% { transform: translateX(1000px) translateY(0); }
}

@keyframes float {
  0% { transform: translateY(0px) translateX(0); }
  50% { transform: translateY(8px) translateX(5px); }
  100% { transform: translateY(0px) translateX(0); }
}

#bracefront, #braceback{
  animation: braces 1s linear infinite;
}

@keyframes braces {
  0% { transform: translateX(-2px); }
  25% { transform: translateX(3px); }
  50% { transform: translateX(-2px); }
  75% { transform: translateX(3px); }
  100% { transform: translateX(-2px); }
}


