<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Chỉnh sửa thông tin sinh viên</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
  <!-- Custom fonts for this template-->
  <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"
  />

  <!-- Custom styles for this template-->
  <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet" />
  <link href="/assets/css/furniture.css" rel="stylesheet" />

  <!-- Custom styles for table -->
  <style>
    table {
      counter-reset: rowNumber;
    }

    table thead{
      text-align: center;
      vertical-align: center;
    }
    table tbody td.date{
      text-align: center;
      vertical-align: center;
    }
    table tbody tr td.stt:before {
      display: table-cell;
      counter-increment: rowNumber;
      content: counter(rowNumber);
      padding-right: 0.3em;
      text-align: center;
      vertical-align: middle;
      margin: 0 auto;
    }
  </style>

  <!-- Custom styles for button -->
  <style>
    .btn-group button {
      background-color: #04AA6D; /* Green background */
      border: 1px solid green; /* Green border */
      color: white; /* White text */
      padding: 10px 24px; /* Some padding */
      cursor: pointer; /* Pointer/hand icon */
      float: left; /* Float the buttons side by side */
      margin-top: 10px;;
      border-radius: 5px;;
    }

    /* Clear floats (clearfix hack) */
    .btn-group:after {
      content: "";
      clear: both;
      display: table;
    }

    .btn-group button:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }

    /* Add a background color on hover */
    .btn-group button:hover {
      background-color: #3e8e41;
    }
  </style>

</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <div th:replace="fragments/nav :: sidebaradmin"></div>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <!-- Main Content -->
  <div id="content" style="width: 100%">
    <!-- Topbar -->
    <div th:replace="fragments/nav :: topnav(hoten=${currentUser.getHoten()},avatar=${currentUser.getAvatar()})"></div>
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="">
      <!-- DataTales Example -->
      <div class="card-body">
        <div class="">
          <div style="text-align: center">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-center" style="width: 100%;color: red !important;font-weight: bold">Chỉnh sửa thông tin sinh viên</h4>
            </div>
            <div class="row" style="justify-content: center">
              <form
                      th:object="${editUser}"
                      th:action="@{/admin/quan-ly-sinh-vien/edit}"
                      method="post"
                      novalidate="novalidate"
                      style="
                    padding: 55px 60px;
                    border: 3px solid green;
                    text-align: center;
                    width: 100%;"
                      enctype="multipart/form-data"

              >
                <div class="row">
                  <div class="col-sm-6" style="padding: 0 60px;">

                    <input type="text" th:field="*{id}" id="phone" placeholder="phone" hidden />
                    <div class="inputbox">
                      <label for="hoten">Họ tên:  </label>
                      <input maxlength="50" type="text" th:field="*{hoten}" id="hoten" placeholder="Họ tên " />
                      <span th:if="${#fields.hasErrors('hoten')}" th:errors="*{hoten}"></span>
                    </div>

                    <div class="inputbox">
                      <label for="email">Email:  </label>
                      <input type="text" th:field="*{email}" id="email" placeholder="Họ tên " />
                      <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>

                    <div class="inputbox">
                      <label for="phone">Số điện thoại:   </label>
                      <input maxlength="11" type="text" th:field="*{phone}" id="phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Số điện thoại" />
                      <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                    </div>

                    <div class="inputbox">
                      <label for="ngaysinh">Ngày sinh: </label>
                      <input type="date" th:field="*{ngaysinh}" id="ngaysinh" placeholder="Ngày sinh: MM/DD/YY" style=" margin-right: 63px;"/>
                      <span th:if="${#fields.hasErrors('ngaysinh')}" th:errors="*{ngaysinh}"></span>
                    </div>

                    <div class="inputbox">
                      <label for="gioitinh">Giới tính: : </label>
                      <input type="text" maxlength="10" th:field="*{gioitinh}" id="gioitinh" placeholder="Giới tính" />
                      <span th:if="${#fields.hasErrors('gioitinh')}" th:errors="*{gioitinh}"></span>
                    </div>

                    <div class="inputbox">
                      <label for="diachicutru">Địa chỉ: </label>
                      <input maxlength="100" type="text" th:field="*{diachicutru}" id="diachicutru" placeholder="Địa chỉ cư trú" />
                      <span th:if="${#fields.hasErrors('diachicutru')}" th:errors="*{diachicutru}"></span>
                    </div>
                  </div>

                  <div class="col-sm-6" style="padding: 0 60px;">

                    <div class="inputbox">
                      <label for="truonghoc">Trường học: </label>
                      <input maxlength="150" type="text" th:field="*{truonghoc}" id="truonghoc" placeholder="Trường học" />
                      <span th:if="${#fields.hasErrors('truonghoc')}" th:errors="*{truonghoc}"></span>
                    </div>

                    <div class="inputbox">
                      <label for="tinh">Tỉnh: </label>
                      <input maxlength="50" type="text" th:field="*{tinh}" id="tinh" placeholder="Tỉnh" />
                      <span th:if="${#fields.hasErrors('tinh')}" th:errors="*{tinh}"></span>
                    </div>

                    <div class="inputbox">
                      <label for="huyen">Huyện: </label>
                      <input  type="text" th:field="*{huyen}" id="huyen" placeholder="Huyện" />
                      <span th:if="${#fields.hasErrors('tinh')}" th:errors="*{tinh}"></span>
                    </div>

                    <div class="inputbox">
                      <label for="xa">Xã: </label>
                      <input maxlength="50" type="text" th:field="*{xa}" id="xa" placeholder="Xã" />
                      <span th:if="${#fields.hasErrors('tinh')}" th:errors="*{tinh}"></span>
                    </div>

                    <div class="inputbox">
                      <label for="nienkhoa">Niên khóa: </label>
                      <input maxlength="4" type="text" th:field="*{nienkhoa}" id="nienkhoa" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Địa chỉ cư trú" />
                      <span th:if="${#fields.hasErrors('nienkhoa')}" th:errors="*{nienkhoa}"></span>
                    </div>
                    <div class="inputbox">
                    <label>Trạng thái tài khoản</label>
                    <select th:field="*{enabled}" style="margin-right: 130px;">
                      <option th:value="true" >Kích hoạt</option>
                      <option th:value="false" >Khóa</option>
                    </select>
                    </div>
                  </div>
                </div>
                  <br><br>
                <div>
                  <label>Avatar </label><br>
                  <img th:src="@{${editUser.getAvatar()}}" alt="" style="width: 200px"><br><br>
                  <label>Avatar thay đổi (nếu có): </label><br>
                  <img id="avatar"  style="width: 200px;" >
                  <input
                          id="fileAvatar"
                          type="file"
                         accept="image/*"
                         class="form-control"
                         th:field="*{file}"
                         style="
                                width: 28%;
                                margin: 10px auto;">


                </div>
                <br><br>
                <div class="inputbox" style="justify-content: center">
                <input type="submit" value="Cập nhật" />
                  <button type="button"
                          th:data-url="@{/admin/quan-ly-sinh-vien/{idToa}/{idPhong}( idToa=${matoa} ,idPhong=${maphong})}"
                          onclick="document.location=(this.getAttribute('data-url'))">Quay lại</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <div th:replace="fragments/nav :: footer"></div>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div th:replace="fragments/nav :: logout"></div>

<!-- Bootstrap core JavaScript-->
<script src="/assets/vendor/jquery/jquery.min.js"></script>

<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/assets/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/assets/js/demo/chart-area-demo.js"></script>
<script src="/assets/js/demo/chart-pie-demo.js"></script>
<script type="text/javascript">
  $(document).ready(function (){
    $('#fileAvatar').change(function (){
      showImageAvartar(this);
    })
  })
  function showImageAvartar(fileInput){
    file = fileInput.files[0];
    reader = new FileReader();

    reader.onload = function (e){
      $('#avatar').attr('src',e.target.result)
    }
    reader.readAsDataURL(file);
  }
</script>
</body>
</html>
