<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biểu mẫu đăng ký ở KTX</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.ktx.css" />
    <link rel="stylesheet" href="/assets/css/ace.min.css" />
  </head>
  <body>
    <div class="main-content-inner">
      <!-- breadcrumb -->
      <div
        class="breadcrumbs"
        id="breadcrumbs"
        style="background-color: #438eb9; justify-content: left"
      >
        <button onclick="document.location='/huong-dan-dang-ky-o-ktx'">
          << Quay lại trang hướng dẫn
        </button>
      </div>

      <!-- /breadcrumb -->

      <div class="page-content">
        <!--PAGE CONTENT BEGINS HERE-->

        <link href="/assets/cropper/cropper.min.css" rel="stylesheet" />

        <style>
          #minutes,
          #seconds,
          #chamcham {
            font-size: 90px;
            color: #ff0000;
          }

          .img-container img {
            max-width: 100%;
          }

          .progress {
            display: none;
            margin-bottom: 1rem;
          }

          img {
            display: block;
            max-width: 100%;
          }

          .preview {
            overflow: hidden;
            width: 152px;
            height: 227px;
            margin-left: 20px;
            border: 1px solid red;
          }

          .familyinfo {
            background-color: #fcf8e3 !important;
          }

          ::placeholder {
            color: #c9c8c7;
          }
        </style>

        <form
            class="form-horizontal clearfix"
            method="post"
            novalidate="novalidate"
            th:action="@{/form-dang-ky-o-ktx/update}"
            th:object="${newUserKTX}"
            enctype="multipart/form-data"
        >
          <input type="text" th:field="*{id}" id="id" placeholder="id"  />
          <div class="row" id="StudentInfo">
            <div class="col-sm-12">
              <div class="header clearfix">
                <div class="text-center">
                  <h1 class="site-name" style="font-weight: 500">
                    TRANG ĐĂNG KÝ Ở KÝ TÚC XÁ SINH VIÊN
                  </h1>
                </div>
              </div>
              <div class="widget-box">
                <div class="widget-header">
                  <h4 class="smaller">Biểu mẫu đăng ký ở KTX</h4>
                </div>
                <div class="widget-body">
                  <div class="widget-main clearfix">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="alert alert-block alert-warning">
                          <i class="ace-icon fa fa-sign"></i>
                          <b class="red">LƯU Ý:</b>

                          <p>
                            <b class="red">*</b> Sinh viên cập nhật chính xác thông tin của mình.
                            <b
                              >Các dòng có dấu <span class="text-danger">(*)</span> là bắt buộc
                              nhập</b
                            >. Trường hợp thiếu và sai sót thì đăng ký sẽ bị huỷ.
                          </p>
                          <p>
                            <b class="red">*</b> Đối với những sinh viên đã có danh sách: sinh viên
                            nhập số CMND/CCCD để kiểm tra thông tin.
                          </p>
                          <p>
                            <b class="red">*</b> Thông tin "Email" phải nhập đúng email hiện tại
                            đang sử dụng để nhận được thông báo tình hình đăng ký.
                          </p>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xs-12 top-5">
                        <div
                          class="edit-view"
                          style="border: solid 1px #cccccc; border-radius: 3px; padding: 10px"
                        >
                          <h5 class="green"><b>THÔNG TIN SINH VIÊN</b></h5>
                          <div class="control-group form-group">
                            <label class="control-label no-padding-right col-sm-4 col-xs-12"
                              >CMND/Thẻ căn cước <span class="text-danger">(*)</span></label
                            >
                            <div class="control-value col-sm-8 col-xs-12">
                              <div class="clearfix">
                                <input
                                    th:field="*{cmndCccd}"
                                    class="col-sm-6"
                                    id="IdCardNumber"
                                    name="IdCardNumber"
                                    placeholder=""
                                    type="text"
                                    value=""
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                />
                              </div>
                            </div>
                          </div>

                          <div id="" class="control-group form-group">
                            <label class="control-label col-sm-4 col-xs-12" for="FirstName"
                              >Họ &amp; Tên <span class="text-danger">(*)</span></label
                            >
                            <div class="control-value col-sm-8 col-xs-12">
                              <div class="clearfix">
                                <input
                                  autocomplete="off"
                                  class="col-sm-6"
                                  data-val="true"
                                  data-val-required="Bắt buộc nhập"
                                  id="FirstName"
                                  maskformat=""
                                  name="FirstName"
                                  placeholder="Nguyễn Văn A"
                                  type="text"
                                  value=""
                                  th:field="*{hoten}"
                                />
                              </div>
                              <div class="clearfix">
                                <span
                                  class="field-validation-valid help-inline"
                                  data-valmsg-for="FirstName"
                                  data-valmsg-replace="true"
                                ></span>
                              </div>
                            </div>
                          </div>
                          <div class="control-group form-group">
                            <label
                                    class="control-label no-padding-right col-sm-4 col-xs-12"
                                    for="gioitinh"
                            >Giới tính <span class="text-danger">(*)</span></label
                            >
                            <div class="control-value col-sm-8 col-xs-12">
                              <div class="clearfix">
                                <input
                                        class="col-sm-6"
                                        data-val="true"
                                        data-val-required="Bắt buộc nhập"
                                        id="gioitinh"
                                        name="gioitinh"
                                        th:field="*{gioitinh}"
                                />
                              </div>
                              <div class="clearfix">
                                <span
                                  class="field-validation-valid help-inline"
                                  data-valmsg-for="Gender"
                                  data-valmsg-replace="true"
                                ></span>
                              </div>
                            </div>
                          </div>

                          <div class="control-group form-group">
                            <label
                              class="control-label no-padding-right control-label col-sm-4 col-xs-12"
                              for="Birthday"
                              >Ngày sinh <span class="text-danger">(*)</span></label
                            >
                            <div class="control-value col-sm-8 col-xs-12">
                              <div class="clearfix">
                                <div class="input-append">
                                  <input
                                    class="date-input col-sm-12"
                                    data-date-format="15/03/2001"
                                    data-val="true"
                                    data-val-date="The field Ngày sinh must be a date."
                                    data-val-required="Bắt buộc nhập"
                                    id="Birthday"
                                    name="Birthday"
                                    placeholder="DD/MM/YYYY"
                                    style="width: 100px"
                                    type="text"
                                    value=""
                                    th:field="*{ngaysinh}"

                                  />
                                </div>
                              </div>
                              <div class="clearfix">
                                <span
                                  class="field-validation-valid help-inline"
                                  data-valmsg-for="Birthday"
                                  data-valmsg-replace="true"
                                ></span>
                              </div>
                            </div>
                          </div>


                          <div class="control-group form-group">
                            <label class="control-label no-padding-right col-sm-4 col-xs-12"
                              ><b>Thông tin khác</b></label
                            >
                            <div class="control-value col-sm-8 col-xs-12">
                              <div class="clearfix">
                                <input id="PolicyType" name="PolicyType" type="hidden" value="" />
                              </div>
                            </div>
                          </div>

                          <div id="" class="control-group form-group">
                            <label class="control-label col-sm-4 col-xs-12" for="Phone"
                              >Điện thoại <span class="text-danger">(*)</span></label
                            >
                            <div class="control-value col-sm-8 col-xs-12">
                              <div class="clearfix">
                                <input
                                  autocomplete="off"
                                  class="col-sm-6"
                                  data-val="true"
                                  data-val-length="Điện thoại không được vượt quá 10 ký tự."
                                  data-val-length-max="10"
                                  data-val-required="Bắt buộc nhập"
                                  id="Phone"
                                  maskformat=""
                                  name="Phone"
                                  placeholder="SĐT của sinh viên"
                                  type="text"
                                  value=""
                                  th:field="*{phone}"
                                />
                              </div>
                              <div class="clearfix">
                                <span
                                  class="field-validation-valid help-inline"
                                  data-valmsg-for="Phone"
                                  data-valmsg-replace="true"
                                ></span>
                              </div>
                            </div>
                          </div>

                          <div id="" class="control-group form-group">
                            <label class="control-label col-sm-4 col-xs-12" for="StudentCode"
                              >Mã số sinh viên</label
                            >
                            <div class="control-value col-sm-8 col-xs-12">
                              <div class="clearfix">
                                <input
                                  autocomplete="off"
                                  class="col-sm-6"
                                  id="StudentCode"
                                  maskformat=""
                                  name="StudentCode"
                                  placeholder="Nếu chưa có mã thì bỏ trống"
                                  type="text"
                                  value=""
                                  th:field="*{mssv}"
                                />
                              </div>
                              <div class="clearfix">
                                <span
                                  class="field-validation-valid help-inline"
                                  data-valmsg-for="StudentCode"
                                  data-valmsg-replace="true"
                                ></span>
                              </div>
                            </div>
                          </div>
                          <div id="" class="control-group form-group">
                            <label class="control-label col-sm-4 col-xs-12" for="StudentCode"
                              >Trường đang học:</label
                            >
                            <div class="control-value col-sm-8 col-xs-12">
                              <div class="clearfix">
                                <input
                                  autocomplete="off"
                                  class="col-sm-6"
                                  id="StudentCode"
                                  maskformat=""
                                  name="StudentCode"
                                  placeholder="vd: ĐH Công Nghệ Thông Tin"
                                  type="text"
                                  value=""
                                  th:field="*{truonghoc}"
                                />
                              </div>
                              <div class="clearfix">
                                <span
                                  class="field-validation-valid help-inline"
                                  data-valmsg-for="StudentCode"
                                  data-valmsg-replace="true"
                                ></span>
                              </div>
                            </div>
                          </div>


                          <div id="" class="control-group form-group">
                            <label class="control-label col-sm-4 col-xs-12" for="YearStudent"
                              >Năm bắt đầu học <span class="text-danger">(*)</span></label
                            >
                            <div class="control-value col-sm-8 col-xs-12">
                              <div class="clearfix">
                                <input
                                  autocomplete="off"
                                  class="col-sm-2"
                                  data-val="true"
                                  data-val-number="The field SV năm must be a number."
                                  data-val-required="Bắt buộc nhập"
                                  id="YearStudent"
                                  maskformat=""
                                  name="YearStudent"
                                  placeholder=""
                                  style="text-align: right"
                                  type="number"
                                  value="2022"
                                  th:field="*{nienkhoa}"
                                />
                              </div>
                              <div class="clearfix">
                                <span
                                  class="field-validation-valid help-inline"
                                  data-valmsg-for="YearStudent"
                                  data-valmsg-replace="true"
                                ></span>
                              </div>
                            </div>
                          </div>

                          <input
                            data-val="true"
                            data-val-number="The field Học kỳ đăng ký must be a number."
                            data-val-required="Bắt buộc nhập"
                            id="SemesterId"
                            name="SemesterId"
                            type="hidden"
                            value="39"
                          />
                          <input
                            id="IsEntireScholastic"
                            name="IsEntireScholastic"
                            type="hidden"
                            value="True"
                          />
                          <h5 class="green"><b>HỘ KHẨU THƯỜNG TRÚ</b></h5>
                          <div class="edit-view">
                            <div class="control-group form-group">
                              <label
                                      class="control-label no-padding-right col-sm-4 col-xs-12"
                                      for="ProvineId"
                              >Tỉnh/Thành phố <span class="text-danger">(*)</span></label
                              >
                              <div class="control-value col-sm-8 col-xs-12">
                                <div class="clearfix">
                                  <input
                                          class="col-sm-6"
                                          data-val="true"
                                          data-val-required="Bắt buộc nhập"
                                          id="ProvineId"
                                          name="ProvineId"
                                          th:field="*{tinh}"
                                  />
                                </div>
                                <div class="clearfix">
                                  <span
                                          class="field-validation-valid help-inline"
                                          data-valmsg-for="ProvineId"
                                          data-valmsg-replace="true"
                                  ></span>
                                </div>
                              </div>
                            </div>

                            <div class="control-group form-group">
                              <label
                                      class="control-label no-padding-right col-sm-4 col-xs-12"
                                      for="DistrictId"
                              >Quận/Huyện <span class="text-danger">(*)</span></label
                              >
                              <div class="control-value col-sm-8 col-xs-12">
                                <div class="clearfix">
                                  <input
                                          class="col-sm-6"
                                          data-val="true"
                                          data-val-required="Bắt buộc nhập"
                                          id="DistrictId"
                                          name="DistrictId"
                                          th:field="*{huyen}"
                                  />
                                </div>
                                <div class="clearfix">
                                  <span
                                          class="field-validation-valid help-inline"
                                          data-valmsg-for="DistrictId"
                                          data-valmsg-replace="true"
                                  ></span>
                                </div>
                              </div>
                            </div>

                            <div class="control-group form-group">
                              <label
                                      class="control-label no-padding-right col-sm-4 col-xs-12"
                                      for="WardsId"
                              >Phường/Xã <span class="text-danger">(*)</span></label
                              >
                              <div class="control-value col-sm-8 col-xs-12">
                                <div class="clearfix">
                                  <input
                                          class="col-sm-6"
                                          data-val="true"
                                          data-val-required="Bắt buộc nhập"
                                          id="WardsId"
                                          name="WardsId"
                                          th:field="*{xa}"
                                  />
                                </div>
                                <div class="clearfix">
                                  <span
                                          class="field-validation-valid help-inline"
                                          data-valmsg-for="WardsId"
                                          data-valmsg-replace="true"
                                  ></span>
                                </div>
                              </div>
                            </div>

                            <div id="" class="control-group form-group">
                              <label class="control-label col-sm-4 col-xs-12" for="Address"
                              >Số nhà, tên đường, tổ/xóm, khu phố/thôn/ấp
                                <span class="text-danger">(*)</span></label
                              >
                              <div class="control-value col-sm-8 col-xs-12">
                                <div class="clearfix">
                                  <input
                                          autocomplete="off"
                                          class="col-sm-6"
                                          data-val="true"
                                          data-val-required="Bắt buộc nhập"
                                          id="Address"
                                          maskformat=""
                                          name="Address"
                                          placeholder="Địa chỉ cư trú"
                                          type="text"
                                          value=""
                                          th:field="*{diachicutru}"
                                  />
                                </div>
                                <div class="clearfix">
                                  <span
                                          class="field-validation-valid help-inline"
                                          data-valmsg-for="Address"
                                          data-valmsg-replace="true"
                                  ></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xs-12 top-5">
                        <div style="border: solid 1px #cccccc; border-radius: 3px; padding: 10px">
                          <div id="divImageAdmissionNotice">
                            <div>
                              <h5 class="green inline">
                                <b style="text-transform: uppercase">
                                  <span
                                    >ĐỐI VỚI TÂN SINH VIÊN (NĂM 1): HÌNH ẢNH GIẤY XÁC NHẬN/GIỚI
                                    THIỆU HOẶC ĐƠN ĐĂNG KÝ Ở KÝ TÚC XÁ CÓ XÁC NHẬN CỦA NHÀ
                                    TRƯỜNG</span
                                  >
                                  <span class="text-danger">(*)</span><br />
                                </b>
                              </h5>
                              <h5 class="green inline" style="color: blue !important">
                                <b style="text-transform: uppercase">
                                  <span
                                    >ĐỐI VỚI SINH VIÊN NĂM THỨ 2 TRỞ LÊN: HÌNH MẶT TRƯỚC THẺ SINH
                                    VIÊN HOẶC GIẤY XÁC NHẬN SINH VIÊN</span
                                  >
                                  <span class="text-danger">(*)</span><br />
                                </b>
                              </h5>
                            </div>
                            <div class="edit-view">
                              <p>
                                <label>Ảnh thẻ </label>
                                <label>Kích thước:3x4</label>
                                <input type="file"
                                       accept="image/*"
                                       class="form-control" name="avatar" th:field="*{file}" placeholder="Enter photo">
                              </p>
                            </div>
                          </div>

<!--                          <div>-->
<!--                            <h5 class="green inline">-->
<!--                              <b style="text-transform: uppercase">-->
<!--                                <span>Ảnh thẻ 4x6 </span> <span class="text-danger">(*)</span><br />-->
<!--                              </b>-->
<!--                              <br />-->
<!--                              <span style="color: red"-->
<!--                                >* Lưu ý: yêu cầu nền xanh, áo sơ mi, chụp rõ khuôn mặt, chỉnh bằng-->
<!--                                khung hình theo mẫu</span-->
<!--                              >-->
<!--                            </h5>-->
<!--                          </div>-->
<!--                          <div class="edit-view">-->
<!--                            <img-->
<!--                              id="ImageAvatarimg"-->
<!--                              style="width: 100px"-->
<!--                              src="https://media.istockphoto.com/vectors/image-preview-icon-picture-placeholder-for-website-or-uiux-design-vector-id1222357475?k=20&m=1222357475&s=170667a&w=0&h=YGycIDbBRAWkZaSvdyUFvotdGfnKhkutJhMOZtIoUKY="-->
<!--                              alt="Image preview..."-->
<!--                            />-->
<!--                            <input-->
<!--                              type="file"-->
<!--                              name="image"-->
<!--                              id="FileUploadImageAvatar"-->
<!--                              class="image"-->
<!--                            />-->
<!--                            <input id="ImageAvatar" name="ImageAvatar" type="hidden" value="" />-->

<!--                            <div-->
<!--                              class="modal fade"-->
<!--                              id="modal"-->
<!--                              tabindex="-1"-->
<!--                              role="dialog"-->
<!--                              aria-labelledby="modalLabel"-->
<!--                              aria-hidden="true"-->
<!--                            >-->
<!--                              <div class="modal-dialog modal-lg" role="document">-->
<!--                                <div class="modal-content">-->
<!--                                  <div class="modal-header">-->
<!--                                    <h5 class="modal-title" id="modalLabel">Điều chỉnh ảnh</h5>-->
<!--                                    <button-->
<!--                                      type="button"-->
<!--                                      class="close"-->
<!--                                      data-dismiss="modal"-->
<!--                                      aria-label="Close"-->
<!--                                    >-->
<!--                                      <span aria-hidden="true">×</span>-->
<!--                                    </button>-->
<!--                                  </div>-->
<!--                                  <div class="modal-body">-->
<!--                                    <div class="img-container">-->
<!--                                      <div class="row">-->
<!--                                        <div class="col-md-8">-->
<!--                                          &lt;!&ndash;  default image where we will set the src via jquery&ndash;&gt;-->
<!--                                          <img id="image" />-->
<!--                                        </div>-->
<!--                                        <div class="col-md-4">-->
<!--                                          <div class="preview"></div>-->
<!--                                        </div>-->
<!--                                      </div>-->
<!--                                    </div>-->
<!--                                  </div>-->
<!--                                  <div class="modal-footer">-->
<!--                                    <button type="button" class="btn btn-primary" id="crop">-->
<!--                                      Xác nhận-->
<!--                                    </button>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->

<!--                          <div class="inline">-->
<!--                            <div class="edit-view col-sm-6 col-xs-12" style="padding-left: 0px">-->
<!--                              <h5 class="green inline">-->
<!--                                <b>Ảnh CMND mặt trước <span class="text-danger">(*)</span></b>-->
<!--                              </h5>-->
<!--                              <p>-->
<!--                                <span style="color: red"-->
<!--                                  >* Sv vui lòng xoay ngang hình ảnh trước khi upload</span-->
<!--                                >-->
<!--                                <img-->
<!--                                  id="ImageCMNDBeforeimg"-->
<!--                                  style="width: 100px"-->
<!--                                  src="https://media.istockphoto.com/vectors/image-preview-icon-picture-placeholder-for-website-or-uiux-design-vector-id1222357475?k=20&m=1222357475&s=170667a&w=0&h=YGycIDbBRAWkZaSvdyUFvotdGfnKhkutJhMOZtIoUKY="-->
<!--                                  alt="Image preview..."-->
<!--                                />-->
<!--                                <input-->
<!--                                  class="image_upload"-->
<!--                                  type="file"-->
<!--                                  id="FileUploadImageCMNDBefore"-->
<!--                                  onchange="encodeImageAsURL('ImageCMNDBefore');"-->
<!--                                />-->
<!--                                <input-->
<!--                                  id="ImageCMNDBefore"-->
<!--                                  name="ImageCMNDBefore"-->
<!--                                  type="hidden"-->
<!--                                  value=""-->
<!--                                />-->
<!--                              </p>-->
<!--                            </div>-->
<!--                            <div class="edit-view col-sm-6 col-xs-12" style="padding-left: 0px">-->
<!--                              <h5 class="green inline">-->
<!--                                <b>Ảnh CMND mặt sau <span class="text-danger">(*)</span></b>-->
<!--                              </h5>-->
<!--                              <p>-->
<!--                                <span style="color: red"-->
<!--                                  >* Sv vui lòng xoay ngang hình ảnh trước khi upload</span-->
<!--                                >-->
<!--                                <img-->
<!--                                  id="ImageCMNDAfterimg"-->
<!--                                  style="width: 100px"-->
<!--                                  src="https://media.istockphoto.com/vectors/image-preview-icon-picture-placeholder-for-website-or-uiux-design-vector-id1222357475?k=20&m=1222357475&s=170667a&w=0&h=YGycIDbBRAWkZaSvdyUFvotdGfnKhkutJhMOZtIoUKY="-->
<!--                                  alt="Image preview..."-->
<!--                                />-->
<!--                                <input-->
<!--                                  class="image_upload"-->
<!--                                  type="file"-->
<!--                                  id="FileUploadImageCMNDAfter"-->
<!--                                  onchange="encodeImageAsURL('ImageCMNDAfter');"-->
<!--                                />-->
<!--                                <input-->
<!--                                  id="ImageCMNDAfter"-->
<!--                                  name="ImageCMNDAfter"-->
<!--                                  type="hidden"-->
<!--                                  value=""-->
<!--                                />-->
<!--                              </p>-->
<!--                            </div>-->
<!--                          </div>-->



                          <label
                            style="margin-top: 20px; color: red; font-size: 16px; font-weight: bold"
                          >
                            <input
                              name="form-field-checkbox"
                              id="isCheck"
                              type="checkbox"
                              style="width: 17px; height: 17px"
                            />
                            <span class="lbl">
                              Tôi xin cam kết tất cả nội dung khai báo trên là đúng sự thật.</span
                            > </label
                          ><br />
                          <div style="text-align: center">
                            <button type="submit"
                              style="
                                border-radius: 10px;
                                background-color: #0db545;
                                color: white;
                                padding: 5px;
                                font-size: large;
                              "
                            >
                              Xác nhận và đăng ký
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <ul class="pager" style="float: right !important"></ul>
            </div>
          </div>
        </form>
        <!--PAGE CONTENT ENDS HERE-->
      </div>
      <!--/.page-content-->
    </div>
    <div
      class="breadcrumbs"
      id="breadcrumbs"
      style="background-color: #438eb9; justify-content: center"
    >
      <button
        id="breadcrumbs"
        style="position: fixed; bottom: 5px"
        onclick="document.location='/thong-tin-sinh-vien'"
      >
        Quay lại trang thông tin
      </button>
    </div>
  </body>
</html>
