<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
    <link rel="icon" href="https://i.pinimg.com/236x/d6/d3/52/d6d3526e824c63ed0fcbec90950a0444.jpg">
</head>
<body>
    <div style="text-align: center;">
        <h1 th:inline="text">Xin chào [[${#request.userPrincipal.principal.fullName}]]</h1>
        <h1>Chào mừng bạn đến với KTX Sinh Viên</h1>

        <div style="text-align: -webkit-center;">
            <table>
            <thead>
                <tr>
                    <th>ID User</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody >
                <tr th:each="user:${listUser}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phone}"></td>
                </tr>

            </tbody>
        </table>
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Đăng Xuất"/>
        </form>
    </div>
</body>
</html>