<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="Landing PAGE Html5 Template" />

    <meta name="keywords" content="landing,startup,flat" />

    <meta name="author" content="Made By GN DESIGNS" />

    <title>Trang chủ - Ký Túc Xá TP.HCM</title>

    <!-- // PLUGINS (css files) // -->

    <link rel="icon" href="/assets/img/banner.jpg" sizes="32x32">
    <link rel="icon" href="/assets/img/banner.jpg" sizes="192x192">

    <link rel="stylesheet" href="/assets/css/main.css"/>
    
    <link rel="stylesheet" href="/assets/css/style.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>
    
    <link href="assets/js/plugins/bootsnav_files/skins/color.css" rel="stylesheet"/>
    
    <link href="assets/js/plugins/bootsnav_files/css/animate.css" rel="stylesheet"/>
    
    <link href="assets/js/plugins/bootsnav_files/css/bootsnav.css" rel="stylesheet"/>
    
    <link href="assets/js/plugins/bootsnav_files/css/overwrite.css" rel="stylesheet"/>
    
    <link href="assets/js/plugins/owl-carousel/owl.carousel.css" rel="stylesheet"/>

    <link href="assets/js/plugins/owl-carousel/owl.theme.css" rel="stylesheet"/>

    <link href="assets/js/plugins/owl-carousel/owl.transitions.css" rel="stylesheet"/>

    <link href="assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet"/>

    <!--// ICONS //-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <!--// BOOTSTRAP & Main //-->

    <link href="assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>

  </head>

  <body>
    <!--======================================== 

           Preloader

    ========================================-->

<!--    <div class="page-preloader">-->
<!--      <div class="spinner">-->
<!--        <div class="rect1"></div>-->

<!--        <div class="rect2"></div>-->

<!--        <div class="rect3"></div>-->

<!--        <div class="rect4"></div>-->

<!--        <div class="rect5"></div>-->
<!--      </div>-->
<!--    </div>-->

    <!--======================================== 

           Header

    ========================================-->

    <!--//** Navigation**//-->

    <nav
      class="navbar navbar-default navbar-fixed white no-background bootsnav navbar-scrollspy"
      data-minus-value-desktop="70"
      data-minus-value-mobile="55"
      data-speed="1000"
    >
      <div class="container">
        <!-- Start Header Navigation -->

        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#navbar-menu"
          >
            <i class="fa fa-bars"></i>
          </button>

          <a class="navbar-brand" href="#brand">
            <img src="assets/img/logo.png" class="logo" alt="logo" />
          </a>
        </div>

        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-right">
            <li class="active scroll"><a href="#home">Home</a></li>

            <li class="scroll"><a href="#team">About Us</a></li>

            <li class="scroll"><a href="#footer-dark">Contact</a></li>

            <li class="button-holder">
              <button
                type="button"
                class="btn btn-blue navbar-btn"
                data-toggle="modal"
                data-target="#SignIn"
              >
                Đăng Nhập
              </button>
            </li>
          </ul>
        </div>

        <!-- /.navbar-collapse -->
      </div>
    </nav>

    <!--//** Banner**//-->

    <section id="home">
      <div class="container">
        <div class="row">
          <!-- Introduction -->

          <div class="col-md-6 caption">
            <h1>Chào mừng bạn đến với Ký Túc Xá</h1>

            <h2>
              Một môi trường
              <span class="animated-text"></span>

              <span class="typed-cursor"></span>
            </h2>

            <p>
              Ký túc xá không chỉ là nơi ở mà môi trường
              <strong style="color: aquamarine"> Học Tập - Rèn Luyện </strong>
              của sinh viên
            </p>

            <!-- <a href="#" class="btn btn-transparent">Get Started</a> -->

            <!-- <a
              class="btn btn-blue popup-youtube"
              href="https://www.youtube.com/watch?v=Q8TXgCzxEnw"
            >
              <i class="material-icons">play_circle_filled</i>Watch Video
            </a> -->
          </div>

          <!-- Sign Up -->

<!--          <div class="col-md-5 col-md-offset-1">-->
<!--            <form th:action="@{/process_register}" method="post" class="signup-form" >-->
<!--              <h2 class="text-center">Đăng ký</h2>-->

<!--              <hr />-->

<!--              <div class="form-group">-->
<!--                <input-->
<!--                  type="text"-->
<!--                  class="form-control"-->
<!--                  placeholder="Họ tên"-->
<!--                  required="required"-->
<!--                />-->
<!--              </div>-->

<!--              <div class="form-group">-->
<!--                <input-->
<!--                  name="email"-->
<!--                  type="email"-->
<!--                  class="form-control"-->
<!--                  placeholder="Địa chỉ email"-->
<!--                  required="required"-->
<!--                />-->
<!--              </div>-->

<!--              <div class="form-group">-->
<!--                <input-->
<!--                  name="username"-->
<!--                  type="text"-->
<!--                  class="form-control"-->
<!--                  placeholder="Tên đăng nhập"-->
<!--                  required="required"-->
<!--                />-->
<!--              </div>-->

<!--			-->
<!--              <div class="form-group">-->
<!--                <input-->
<!--                  type="password"-->
<!--                  class="form-control"-->
<!--                  placeholder="Mật khẩu"-->
<!--                  required="required"-->
<!--                />-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <input-->
<!--                  type="password"-->
<!--                  class="form-control"-->
<!--                  placeholder="Xác nhận mật khẩu"-->
<!--                  required="required"-->
<!--                />-->
<!--              </div>-->

<!--              <div class="form-group text-center">-->
<!--                <button type="submit" class="btn btn-blue btn-block">-->
<!--                  Đăng ký-->
<!--                </button>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
        </div>
      </div>
    </section>

    <!--======================================== 

           Team

    ================================================================================================================================================-->

    <section id="team" class="section-padding">
      <div class="container">
        <h2>Team Of Professionals</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, optio.
        </p>

        <div class="row">
          <div class="col-md-4 col-lg-4">
            <!--**Team-Member**-->

            <div class="thumbnail team-member">
              <img
                src="assets/img/team-1.jpg"
                class="img-responsive img-circle"
                alt="team-1"
              />

              <div class="caption">
                <h4>Adam White</h4>

                <h6>Founder Ceo</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                <hr />

                <div class="team-social">
                  <ul class="liste-unstyled">
                    <li>
                      <a href="#facebook"><i class="fa fa-facebook"></i></a>
                    </li>

                    <li>
                      <a href="#twitter"><i class="fa fa-twitter"></i></a>
                    </li>

                    <li>
                      <a href="#linkedin"><i class="fa fa-linkedin"></i></a>
                    </li>

                    <li>
                      <a href="#instagram"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <!--**Team-Member**-->

            <div class="thumbnail team-member">
              <img
                src="assets/img/team-2.jpg"
                class="img-responsive img-circle"
                alt="team-2"
              />

              <div class="caption">
                <h4>Jasmine Doe</h4>

                <h6>Web Designer</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                <hr />

                <div class="team-social">
                  <ul class="liste-unstyled">
                    <li>
                      <a href="#facebook"><i class="fa fa-facebook"></i></a>
                    </li>

                    <li>
                      <a href="#twitter"><i class="fa fa-twitter"></i></a>
                    </li>

                    <li>
                      <a href="#linkedin"><i class="fa fa-linkedin"></i></a>
                    </li>

                    <li>
                      <a href="#instagram"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <!--**Team-Member**-->

            <div class="thumbnail team-member">
              <img
                src="assets/img/team-3.jpg"
                class="img-responsive img-circle"
                alt="team-3"
              />

              <div class="caption">
                <h4>Mike White</h4>

                <h6>Developer</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                <hr />

                <div class="team-social">
                  <ul class="liste-unstyled">
                    <li>
                      <a href="#facebook"><i class="fa fa-facebook"></i></a>
                    </li>

                    <li>
                      <a href="#twitter"><i class="fa fa-twitter"></i></a>
                    </li>

                    <li>
                      <a href="#linkedin"><i class="fa fa-linkedin"></i></a>
                    </li>

                    <li>
                      <a href="#instagram"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </section>

    <!--======================================== 

           Footer

    ========================================-->

    <div id="footer-dark">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h3>Services</h3>
              <ul>
                <li><a href="#">Web design</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">Hosting</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h3>About</h3>
              <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
            <div class="col-md-6 item text">
              <h3>Company Name</h3>
              <p>
                Praesent sed lobortis mi. Suspendisse vel placerat ligula.
                Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis
                tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel
                in justo.
              </p>
            </div>
            <div class="col item social">
              <a href="#"><i class="icon ion-social-facebook"></i></a
              ><a href="#"><i class="icon ion-social-twitter"></i></a
              ><a href="#"><i class="icon ion-social-snapchat"></i></a
              ><a href="#"><i class="icon ion-social-instagram"></i></a>
            </div>
          </div>
          <p class="copyright">Company Name © 2022</p>
        </div>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <!--======================================== 

           Modal

    ========================================-->

    <!-- Modal Login -->

    <div class="modal fade" id="SignIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>

            <h4 class="modal-title text-center" id="myModalLabel">Đăng Nhập</h4>
          </div>

          <div class="modal-body">
            <div th:if="${param.error}">
              Invalid username and password.
            </div>
            <div th:if="${param.login}">
              You have been login.
            </div>
            <form th:action="@{/j_spring_security_check}" method="post" class="signup-form">
              <div class="form-group">
                <input
                  id="username"
                  name="username"
                  type="text"
                  class="form-control"
                  placeholder="User Name"
                  required="required"
                />
              </div>

              <div class="form-group">
                <input
                  id="password"
                  name="password"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  required="required"
                />
              </div>

              <div class="form-group text-center">
                <button type="submit" value="SignIn" class="btn btn-blue btn-block">
                  Đăng nhập
                </button>
              </div>
            </form>
          </div>

          <div class="modal-footer text-center">
            <a class="pull-left" href="#">Quên mật khẩu ?</a>

            <a th:href="@{/register}">Đăng ký</a>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script src="assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>

    <script src="assets/js/plugins/bootsnav_files/js/bootsnav.js"></script>

    <script src="assets/js/plugins/typed.js-master/typed.js-master/dist/typed.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script src="assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/jquery.magnific-popup.js"></script>

    <script src="assets/js/main.js"></script>
  </body>
</html>
