<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration Success</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container text-center">
  <h3>You have signed up successfully!</h3>
  <div style="text-align: center;">
    <span th:text="'A verification email has been sent to: ' + ${emailId}"></span>
  </div>

  <h4>Click here to login: <a th:href="@{/login}" >Đăng Nhập ngay</a></h4>

</div>

</body>
</html>

